.media-list {
   max-height:210px;
    overflow-y: scroll;
    border: 1px solid #cecece;
    padding: 0 10px;
}

.user {
    color: #0000aa;
}
.auth {
    color: #00aa00;
}

.main-chat{
    max-width: 800px;
    margin: 0 auto;
    float: none;
}
.main-baner{
    margin: 0 auto;
    max-width: 350px;
}

#w0, .panel-footer {
    background-color: #d9edf7;
}